
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red;

    @media screen and (min-widht:768px) {
        max-width: 768px;
    }

    @media screen and (min-widht:1200px) {
        max-width: 1200px;
    }
        }

    
    



