
/* Header */

.header__container{
    display: flex;
    align-items: center;

}




.logo {
    font-family:'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121; 
    margin-right: 93px;
}

.logo__accent {
    font-family:'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--accent-color);
}

.site-nav{
    display: flex;
}

.site-nav__link{
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    
}

.site-nav__link{
margin-right: 50px;
font-family: var(--main-font);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
padding-top: 32px;
padding-bottom: 32px;

color:var(--primary-light-txt);
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nave__item:last-child{
    margin: 0;
}

.site-nav__link:hover{
    color: var(--accent-color);
}


.current{
    color: var(--accent-color); 
}

.current::after,
.site-nav__link:hover::after
{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color:var(--accent-color);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}

.contacts-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
}

.contacts {
display: flex;
margin-left: auto;
}

.contacts-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}




.contacts .contacts-item + .contacts-item {
    margin-left: 50px;
} 

.nav {
    margin-left: 94px;
}

.contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #757575;
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}

.contacts__phone-icon {
    margin-right: 10px;
    fill: currentColor;
}

.contacts__link:hover {
    fill: var(--accent-color)
}



.header-wripper{
display: flex;
align-items: center;
margin-left: auto; 
font-family: var(--main-font);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #757575;

}


.contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #757575;
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}

.contacts__phone-icon {
    margin-right: 10px;
    margin-left: 30px;
    fill: currentColor;
}

.contacts__item:hover {
fill: var(--accent-color)
} 

