.menu-btn {
    // position: absolute;
    // display: flex;
    // display: block;
    // justify-content: center;
    // align-items: center;
    // padding: 0;
    // width: 44px;
    // height: 44px;

    // background-color: transparent;
    // border: transparent;
    // outline: transparent;
    // z-index: 99;
    

    // @media screen and (min-width:768px) {
    //     display: none;
    // }

    margin-left: auto;

    &__icon {
        width: 44px;
        height: 44px;

        &-open {
            opacity: 1;
            fill: rgb(0, 0, 0);
            
        }

        &-close:hover,
        &-close:focus
        {
            
        fill: var(--accent-color);
            
        }




        &-close {
            
            opacity: 0;
        }
    }
}

.menu-btn__open {
    // display: flex;
    
    // display: block;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 44px;
    height: 44px;

    background-color: transparent;
    border: transparent;
    outline: transparent;
    z-index: 99;

    @media screen and (min-width:768px) {
        display: none;
    }

}

.menu-btn__icon-close {
    // position: fixed;
    top: 10px;
    right: 15px;

    @media screen and (min-width:768px) {
        display: none;
    }
}


.menu-btn.is-active .menu-btn__icon-open {
    opacity: 0;
}

.menu-btn.is-active .menu-btn__icon-close {
    opacity: 1;
}

.header{
    position: relative;
}

.menu-container{
display: none;
position: absolute;
top: 100%;
left: 0;
width: 100%;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
text-align: center;
letter-spacing: 0.02em;

color:#212121;

&.is-open{
    display: block;
}

}

.mobile-nave__item{
    margin-bottom: 32px;
}

.mobile-nave__item:last-child{
    margin-bottom: 300px;
}