.menu-btn {
    // position: absolute;
    // display: flex;
    // display: block;
    // justify-content: center;
    // align-items: center;
    // padding: 0;
    // width: 44px;
    // height: 44px;

    // background-color: transparent;
    // border: transparent;
    // outline: transparent;
    // z-index: 99;
    

    // @media screen and (min-width:768px) {
    //     display: none;
    // }

    margin-left: auto;

    &__icon {
        width: 44px;
        height: 44px;

        &-open {
            opacity: 1;
            fill: rgb(0, 0, 0);
            
        }

        &-close:hover,
        &-close:focus
        {
            
        fill: var(--accent-color);
            
        }




        &-close {
            
            opacity: 0;
        }
    }
}

.menu-btn__open {
    // display: flex;
    
    // display: block;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 44px;
    height: 44px;

    background-color: transparent;
    border: transparent;
    outline: transparent;
    z-index: 99;

    @media screen and (min-width:768px) {
        display: none;
    }

}

.menu-btn__icon-close {
    // position: fixed;
    top: 10px;
    right: 15px;

    @media screen and (min-width:768px) {
        display: none;
    }
}


.menu-btn.is-active .menu-btn__icon-open {
    opacity: 0;
}

.menu-btn.is-active .menu-btn__icon-close {
    opacity: 1;
}

.header{
    position: relative;
}

.menu-container{
padding: 48px 40px;
display: none;
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100%;
background: #FFFFFF;
box-shadow: 0px 4px 8px
rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
0px 1px 3px rgba(0, 0, 0, 0.16);
outline: 1px solid #2196F3;

transform: translateX(100%);
    visibility: hidden;
    pointer-events: none;
    transition: transform --anim-slow;

&.is-open{
    transform: translateX(0);
        visibility: visible;
        pointer-events: initial;
}

@media screen and (min-width:768px) {
    display: none;
}

}

.mobile-nav__link{
margin-bottom: 32px;
font-family: 'Roboto';
font-weight: 500;
font-size: 40px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.02em;
color: #212121;
}

.mobile-nav__link:hover {
    color: var(--accent-color);
}
.mobile-nav__link-phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;

    letter-spacing: 0.02em;

    color: #2196F3;
}

.mobile-contacts__link-mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: #757575;
}

.mobile-socials__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: 0.02em;

    color: #2196F3;
}

.mobile-nave__item:last-child{
    margin-bottom: 300px;
}